
    body {
        
        background-color:  #5d00ff;
        
    }
    
    H1,h2,h3 {
        text-decoration: underline;
        margin: 10px;
    }

    p {
        border: 2px solid;
        padding: 10px;
        width: 800px;
        background-color: grey;
        border-radius: 8px;
        margin: 30px;
    }

    ul {
        margin: 30px;
    }

    a {
        margin: 30px;
        color: black;
        font-weight: bold;
    }

    ol {
        margin: 30px;
    }

    img {
        border-radius: 8px;

    }